<div class="home-page">

    <section class="hero">

        <div class="hero-content">
            <h1>
                Swap Skills. <br />
                <span>Grow Together.</span>
            </h1>

            <p>
                Join a global community where you can teach what you know
                and learn what you love&nbsp;— completely free.
            </p>

            <div class="hero-buttons">
                <button class="primary-btn" (click)="goToRegister()">
                    Get Started
                </button>
            </div>
        </div>

        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>

    </section>

</div>